*.pyc
__pycache__/

.DS_Store
.idea/

*.dev
*_dev.py
dev/
*_dev/

*.xlsx
!agg/全站采集网站栏目.xlsx
*.csv

*.log
my_log/
logs/
tags

*.out
*.swo
*.swp
*.swn

local_test.py


*.png
*.JPEG
*.jpeg
*.BMP
*.bmp
*.GIF
*.gif
*.PNG
*.png
*.pptx
*/.qiniu_pythonsdk_hostscache.json
.qiniu_pythonsdk_hostscache.json

*.dot
*.doc
*.zip
*.sql

analysis/
utils_backup/
*.gif


build/
eggs/
project.egg-info/
jobdir/

dbs/


